# Chapter 2: Introduction to PyTorch
ch2-pytorch-introduction/

# Chapter 3: Multi-layer Perceptron
ch3-multi-layer-perceptron/

# Chapter 4: Optimization Algorithms
ch4-optimization-algorithms/

# Chapter 8: Attention and Transformer
ch8-attention-and-transformer/

# Chapter 10: Efficient Attention Mechanisms
ch10-efficient-attention/

# Chapter 11: Vision Transformers
ch11-vision-transformers/*
!ch11-vision-transformers/ch11.5-vit-as-backbone/
!ch11-vision-transformers/ch11.5-vit-as-backbone/**

# Chapter 13: AutoEncoders and Variational AutoEncoders
ch13-autoencoders-and-vaes/*
!ch13-autoencoders-and-vaes/ch13.4-vae-training-phenomena/
!ch13-autoencoders-and-vaes/ch13.4-vae-training-phenomena/**

# Chapter 14: Diffusion Models
ch14-diffusion-models/

# Chapter 15: Vision Language Models
ch15-vision-language-models/

# Chapter 18: GPT-2 From Scratch
ch18-gpt2-from-scratch/*
!ch18-gpt2-from-scratch/ch18.5-train-minigpt/
!ch18-gpt2-from-scratch/ch18.5-train-minigpt/**
